<div class="container border border-4 rounded p-3 m-3">
    <div class="row">
        <div class="d-flex justify-content-center">
            <span class="col d-flex justify-content-center">
                <img src="/media/{{ user.profile_image }}"
                     style="object-fit: cover; object-position: center; width: 80px; height: 80px; border-radius: 50%">
            </span>
            <span class="col">
                    <h5 class="row mt-3"> {{ user.username }}</h5>
                    <h5 class="row"> ({{ user.get_full_name }})</h5>
            </span>
            <span>
                {% if username == user.username %}
                    <a class="btn btn-success mt-3" href="{% url "profile_edit" %}">프로필 수정</a>
                {% endif %}
            </span>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="card border-0 mt-2">
            <div class="card-header text-center border-0"><b>Bio</b></div>
            <div class="card-body">
                <p class="text-center" style="font-size: medium">{{ user.bio|linebreaksbr }}</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="card border-0 mt-2">
            <div class="card-header text-center border-0"><b>Tags</b></div>
            <div class="card-body">
                {% for tag in all_tags %}
                    <a href="#" style="text-decoration: none">#{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

