<div class="container d-flex justify-content-end">
    <div class="btn-group">
        <a href="{% url 'profile_edit' %}" class="btn btn-secondary" style="text-decoration: none">프로필수정</a></a>
        <a href="{% url 'password_change' %}" class="btn btn-secondary" style="text-decoration: none">비밀번호변경</a>
    </div>

</div>

<div class="card my-3">
    <div class="card-header text-center">
        <b>My</b>
    </div>
    <div class="card-body">
        <p>Total upload posting : {{ post_list.count }}</p>
        <hr>
        <p>{{ user.bio|linebreaksbr }}</p>
        <p>(Website URL) {{ user.website_url }}</p>
        <p>(Email) {{ user.email }}</p>
        <hr>
        <p>
            My tags :
            {{ user_tags_all.items }}
            {% for tag, count in user_tags_all %}
                <span>
                    <a href="{% url 'posts:post_list' %}?username={{ user.username }}&tag={{ tag.name }}" style="text-decoration: none">
                        #{{ tag.name }}({{ count }})
                    </a>
                </span>
            {% endfor %}
        </p>
    </div>
</div>